@import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.css';

.logo {
  height: 32px;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}

.ant-table-tbody>tr>td {
  height: 5px;
  padding: 6px !important;
}

.ant-input[disabled] {
  color: black !important;
}

.is_24hr .ant-input[disabled] {
  color: #d9d9d9 !important;
}

#breadcrumb-list a span.sep {
  color: #ff0000;
}

.confirm-button {
  background-color: forestgreen !important;
  border-color: forestgreen !important;
}

.order-menu-background {
  background-color: #eeeeee;
  padding-top: 10px;
}

.order-tracking {
  height: 100%;
  overflow: scroll;
}

.order-tracking-icon {
  background-color: #69d1e1;
  border-radius: 50%;
  border: solid 2px;
}

.pull-right {
  text-align: right;
}

.pull-left {
  text-align: left;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-16 {
  margin-top: 16px;
}

.center {
  text-align: center;
}

.validate-error {
  color: red !important;
  font-size: 12px;
  text-align: left;
}

thead>tr>th.ant-table-cell {
  font-weight: bold;
}